body {
    margin: 0 auto;
}

.board {
    margin: 70px auto 10px auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    max-width: 350px;
}

.box {
    border: 2px solid rgb(0, 0, 0);
    padding: 50px 40px;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.game-Buttons {
    display: flex;
    justify-content: center;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer div {
    padding: 0 5px;
}